<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Readers Club Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="./css/Channel.css" />
    <style>
        <!-- move global codel to global css file *(site.css) -->
    </style>
</head>
<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <h4 class="text-center">نادي القراء</h4>
        <div class="Sidebar-links">
            <a href="@Url.Action("Index", "Dashboard")">لوحة التحكم</a>
            <a href="@Url.Action("AddStory", "Story")">إضافة رواية</a>
            <a href="@Url.Action("Stories", "Story")">قائمة الروايات</a>
            <a href="@Url.Action("Index", "Category")">التصنيفات</a>
            <a href="@Url.Action("Index", "Reviews")">التقييمات</a>
            <a href="@Url.Action("Index", "User")">المستخدمين</a>
            <a href="@Url.Action("Index", "Channel")">القنوات</a>
        </div>
    </div>

    <!-- Main content -->
    <div class="main-content">
        <div class="topbar">
            <h5>نادي القراء</h5>
            <a href="#" class="btn-logout">تسجيل خروج</a>
        </div>

        <div class="main-content-page">
            <!-- مكان عرض الصفحات -->
            @RenderBody()
        </div>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)


</body>
</html>
